html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



#navigation li b:nth-child(1){
  position: absolute;
  top:112px;
  height: 20px;
  width: 30.8%;
  background-color: rgb(252, 252, 252);
  display: none;
}

#navigation li b:nth-child(1)::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 20px;
  background-color: #1F2937
}
#navigation li#active b:nth-child(1),
#navigation li#active b:nth-child(2){
  display: block;
}


#navigation li b:nth-child(2){
  position: absolute;
  bottom:757px;
  height: 20px;
  width: 30.8%;
  background-color: rgb(252, 252, 252);
  display: none;
}

#navigation li b:nth-child(2)::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  background-color: #1F2937
}

